/* navbar */
.navbar-default {
    background-color: #009ffb;
    border-color: #009ffb;
    border-radius: 0;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9999;
}
    /* Title */
    .navbar-default .navbar-brand {
        color: #f3fffd;
    }

        .navbar-default .navbar-brand:hover,
        .navbar-default .navbar-brand:focus {
            color: #384357;
        }
    /* Link */
    .navbar-default .navbar-nav > li > a {
        color: #f3fffd;
    }

        .navbar-default .navbar-nav > li > a:hover,
        .navbar-default .navbar-nav > li > a:focus {
            color: #384357;
        }

    .navbar-default .navbar-nav > .active > a,
    .navbar-default .navbar-nav > .active > a:hover,
    .navbar-default .navbar-nav > .active > a:focus {
        color: #f3fffd;
        background-color: #384357;
    }

    .navbar-default .navbar-nav > .open > a,
    .navbar-default .navbar-nav > .open > a:hover,
    .navbar-default .navbar-nav > .open > a:focus {
        color: #f3fffd;
        background-color: #384357;
    }
    /* Caret */
    .navbar-default .navbar-nav > .dropdown > a .caret {
        border-top-color: #009ffb;
        border-bottom-color: #009ffb;
    }

    .navbar-default .navbar-nav > .dropdown > a:hover .caret,
    .navbar-default .navbar-nav > .dropdown > a:focus .caret {
        border-top-color: #384357;
        border-bottom-color: #384357;
    }

    .navbar-default .navbar-nav > .open > a .caret,
    .navbar-default .navbar-nav > .open > a:hover .caret,
    .navbar-default .navbar-nav > .open > a:focus .caret {
        border-top-color: #384357;
        border-bottom-color: #384357;
    }
    /* Mobile version */
    .navbar-default .navbar-toggle {
        border-color: #f3fffd;
    }

        .navbar-default .navbar-toggle:hover,
        .navbar-default .navbar-toggle:focus {
            background-color: #384357;
        }

        .navbar-default .navbar-toggle .icon-bar {
            background-color: #f3fffd;
        }

@media (max-width: 768px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #f3fffd;
    }

        .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
        .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
            color: #384357;
        }

    .searchNav {
        width: 100%;
    }
}

body {
    margin-top: 50px;
    height: 100%;
    margin-bottom: 80px;
}

.margin {
    margin: 10px;
}

footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    background: #384357;
    color: #f3fffd;
    padding: 10px;
}

.glyphicon {
    font-family: inherit;
}

    .glyphicon:before {
        font-family: 'Glyphicons Halflings';
    }

.searchNav {
    width: 500px;
}

.border {
    border: 2px solid #384357;
}

.title {
    width: 100%;
    height: 25px;
    background: #384357;
    color: #f3fffd;
    font-weight: bold;
    text-align: center;
    float: left;
}

.serviceBox {
    width: 300px;
    height: auto;
    background: #fda913;
    border: 0;
    margin:10px;
    float:left;
}

.serviceBox > a{
    color: inherit !important;
    text-decoration: none !important;
}

.noMargin{
    margin:0;
}

.requestBox {
    width: 300px;
}

.Free {
    background: #009ffb;
}

.userAvaliate {
    width: 300px;
}

.novaclasse > p {
}

.padding {
    padding: 10px;
}

.serviceBox > p {
    margin: 0;
    padding: 0;
    background: #384357;
    color: #f3fffd;
    text-align:center;
}

.info{
    background:#01e7ff;
}

.tittle > span {
    float: right;
    margin: 5px;
    cursor: pointer;
}

.serviceBox > .padding > h1 {
    font-size: 30px;
    text-align: center;
    margin:0;
}

.newButton{
    font-size: 64px;
    background: #384357;
    color:#f3fffd;
}

.windows{
    background:black;
    color:white;
    height:auto;
}

.buttonShowAll {
    float: right;
    margin-top: 10px;
    border-radius: 0;
    box-shadow: 1px 1px 5px #000;
}

.modal-dialog {
    position: relative;
    width: 300px;
    margin: 10px;
    margin-top: 60px;
    float: right;
}

.modal-content {
    position: relative;
    background-color: #f3fffd;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
}

.modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    background: #384357;
    color: #f3fffd;
}

    .modal-header .close {
        margin-top: -2px;
        color: #fff;
    }
