<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="strConexao" value="Database=evanew; Data Source=localhost; User id=root; Password=; pooling=false; "/>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
</configuration>